@import "../../BaseStyles/respond";
@import "../../BaseStyles/constants";

.card {
  min-height: 40vh;
  margin: 3rem 0;
  display: flex;
  padding: 3rem;

  @include respond(tab-land) {
    flex-direction: column;
  }

  &__image-container {
    margin: 2rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond(tab-land) {
      order: -1 !important;
    }
  }

  &__image {
    background-color: #fefefe;
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
  }

  &__box {
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
    padding: 6rem 5rem;
    flex: 3.5;
  }

  &__name {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;

    @include respond(tab-land) {
      text-align: center;
    }
  }

  &__description {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    font-family: $font-family, sans-serif, serif;

    @include respond(tab-land) {
      text-align: center;
    }
  }

  &__time {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-family: $font-family, sans-serif, serif;

    span {
      margin-left: 0.3rem;
    }

    @include respond(tab-land) {
      text-align: center;
    }
  }
}
