.app {
  &__landing {
    min-height: 100vh;
  }

  &__header {
    min-height: 10vh;
    display: flex;
    padding: 0.5rem 5rem;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 6rem;
    height: 6rem;
    background: #fefefe;
    background-position: center;
    border-radius: 50%;
  }

  &__cta {
    padding: 0.75rem 3rem;

    border-radius: 500px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
  }

  &__heading {
    font-size: 6rem;
    text-align: center;
  }

  &__heading-2 {
    text-align: center;
  }

  &__cards {
  }
}
