@import "./respond";
@import "./constants";

.scrolled {
  transform: translateY(-2rem) !important;
}

.card {
  min-height: 40vh;
  display: flex;
  padding: 1rem 0rem;

  &__image-square {
    height: 18rem;
    width: 18rem;
    position: relative;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    // border-radius: 50%;
    // overflow: hidden;

    overflow: hidden;

    // background-color: red;

    img {
      height: 24rem;
      width: 24rem;
      // transform: translateY(-2rem);
      transition: 0.5s all;

      transform: translateY(18rem);

      // background-color: red;
    }
  }

  &__image-container {
    margin: 2rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include respond(tab-land) {
      order: -1 !important;
    }
  }

  &__image-bg {
    @include gradient(2);
    height: 18rem;
    width: 18rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 50%;
  }

  // &__image-bg {
  //   height: 18rem;
  //   width: 18rem;
  //   border-radius: 50%;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);

  //   &--1 {
  //     @include gradient(1);
  //     // overflow: hidden;

  //     // position: absolute;

  //     // &::after {
  //     //   content: "";
  //     //   position: absolute;
  //     //   top: 0;
  //     //   width: 100%;
  //     //   height: 100%;
  //     //   background-color: red;
  //     //   background: url("../assets/Banmali2.svg");
  //     // }
  //   }
  //   &--2 {
  //     @include gradient(2);
  //   }
  // }

  @include respond(tab-land) {
    flex-direction: column;
  }

  &__image {
    background-color: #fefefe;
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
  }

  &__box {
    padding: 6rem 5rem;
    flex: 3.5;
  }

  &__name {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: bold;

    span {
      color: $orange;
    }

    @include respond(tab-land) {
      text-align: center !important;
    }
  }

  &__description {
    font-size: 1.875rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    font-family: $font-family, sans-serif, serif;

    @include respond(tab-land) {
      text-align: center !important;
    }
  }

  &__time {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-family: $font-family, sans-serif, serif;

    span {
      margin-left: 0.3rem;
    }

    @include respond(tab-land) {
      text-align: center;
    }
  }
}

.card--o {
  .card__image-container {
    order: 2;
  }

  .card__description {
    text-align: right;
  }

  .card__name {
    text-align: right;
  }
}
