@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$body-bg: #151515;
$text-color: #fefefe;
$orange: #ff4d22;
$font-family: "Poppins";

@mixin gradient($case) {
  @if $case== 1 {
    background: linear-gradient(98deg, #ee5b23 0%, #ee1f50 100%);
  }

  @if $case== 2 {
    background: linear-gradient(82deg, #c62f88 0%, #9b30b6 100%);
  }

  @if $case== 3 {
    background: linear-gradient(81.89deg, #dcd5df 1.14%, #cd8ee8 100%);
  }

  @if $case== 4 {
    background: linear-gradient(98deg, #cccccc 0%, #44fb77 100%);
  }

  @if $case== 5 {
    background: linear-gradient(82deg, #78cd43 0%, #faff00 100%);
  }

  @if $case== 6 {
    background: linear-gradient(90deg, #eaecc6 0%, #78e5ff 100%);
  }
}
