@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html {
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 56.25em) {
  :root {
    font-size: 12px;
  }
}

@media (max-width: 47.5em) {
  :root {
    font-size: 10px;
  }
}

@media (min-width: 131.25em) {
  :root {
    font-size: 18px;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Atami, sans-serif, serif;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #757575;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ebf7fd;
}

svg {
  position: absolute;
  left: 34.96%;
  right: -31.71%;
  top: 0%;
  bottom: 0.15%;
  width: 1250px;
  height: 2903px;
  z-index: -1;
  display: none;
}

body {
  background-color: #151515;
  color: #fefefe;
  overflow-x: hidden;
}

body::after {
  content: "";
  position: absolute;
  left: 34.96%;
  right: -31.71%;
  top: 0%;
  bottom: 0.15%;
  background: url("../assets/background.svg");
  width: 1250px;
  height: 2903px;
  z-index: -1;
  display: none;
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

input,
textarea {
  border: none;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.app__header {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 5rem 0 5rem;
}

@media (max-width: 30.625em) {
  .app__header {
    padding: 3rem 2rem;
    margin-bottom: -4rem;
  }
}

@media (max-width: 30.625em) {
  .app__left {
    -webkit-transform: scale(0.65) translateX(-4rem);
            transform: scale(0.65) translateX(-4rem);
  }
}

.app__right {
  position: relative;
}

@media (max-width: 400px) {
  .app__right {
    display: none;
  }
}

@media (max-width: 30.625em) {
  .app__right {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.app__right::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 6rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../assets/mic.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.app__shield {
  display: block;
}

.app__cta {
  padding: 0.75rem 3rem;
  border-radius: 500px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}

.app__heading {
  font-size: 8rem;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 5rem 0;
  font-size: 6.6vw;
}

.app__heading span {
  color: #ff4d22;
}

.app__heading-2 {
  text-align: center;
  margin-top: -2rem;
  font-family: "Poppins", sans-serif, serif;
}

.app__lineup {
  font-size: 2.4rem;
  text-align: center;
  letter-spacing: 0.3em;
  margin-top: 5rem;
}

.app__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__swiper {
  height: 45rem;
  margin-top: 2rem;
}

@media (max-width: 75em) {
  .app__swiper {
    height: 60vh;
  }
}

@media (max-width: 56.25em) {
  .app__swiper {
    height: 63vh;
    margin-top: 3rem;
  }
}

.scrolled {
  -webkit-transform: translateY(-2rem) !important;
          transform: translateY(-2rem) !important;
}

.card {
  min-height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0rem;
}

.card__image-square {
  height: 18rem;
  width: 18rem;
  position: relative;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
}

.card__image-square img {
  height: 24rem;
  width: 24rem;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-transform: translateY(18rem);
          transform: translateY(18rem);
}

.card__image-container {
  margin: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media (max-width: 75em) {
  .card__image-container {
    -webkit-box-ordinal-group: 0 !important;
        -ms-flex-order: -1 !important;
            order: -1 !important;
  }
}

.card__image-bg {
  background: linear-gradient(82deg, #c62f88 0%, #9b30b6 100%);
  height: 18rem;
  width: 18rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 50%;
}

@media (max-width: 75em) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card__image {
  background-color: #fefefe;
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
}

.card__box {
  padding: 6rem 5rem;
  -webkit-box-flex: 3.5;
      -ms-flex: 3.5;
          flex: 3.5;
}

.card__name {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.card__name span {
  color: #ff4d22;
}

@media (max-width: 75em) {
  .card__name {
    text-align: center !important;
  }
}

.card__description {
  font-size: 1.875rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif, serif;
}

@media (max-width: 75em) {
  .card__description {
    text-align: center !important;
  }
}

.card__time {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif, serif;
}

.card__time span {
  margin-left: 0.3rem;
}

@media (max-width: 75em) {
  .card__time {
    text-align: center;
  }
}

.card--o .card__image-container {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.card--o .card__description {
  text-align: right;
}

.card--o .card__name {
  text-align: right;
}

.register {
  margin: 6rem 0 1rem 0;
  padding: 3rem;
}

.register__form {
  width: 50%;
  min-width: 80vw;
  margin: auto;
  padding: 1rem 3rem;
  text-align: center;
  margin-bottom: 3rem;
}

@media (max-width: 23.75em) {
  .register__form {
    padding: 0;
  }
}

.register__title {
  text-align: center;
  font-size: 4rem;
  color: #ff4d22;
  font-family: Atami, sans-serif, serif;
}

.register__inputs {
  width: 60%;
  margin: auto;
  min-width: 25rem;
}

.register__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
  text-align: left;
  font-size: 1.5rem;
}

.register__input label {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -webkit-transform: translateY(3.35rem) scale(0);
          transform: translateY(3.35rem) scale(0);
  -webkit-transition: 0.35s all;
  transition: 0.35s all;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.register__input input {
  background-color: #222;
  padding: 1rem 0.5rem;
  color: #fefefe;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.register__input input::-webkit-input-placeholder {
  color: #fefefe;
}

.register__input input:-ms-input-placeholder {
  color: #fefefe;
}

.register__input input::-ms-input-placeholder {
  color: #fefefe;
}

.register__input input::placeholder {
  color: #fefefe;
}

.register__input input:not(:placeholder-shown) + label {
  opacity: 1;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  visibility: visible;
}

.register__submit {
  margin: auto;
  -webkit-box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  background-color: inherit;
  color: #fefefe;
  font-size: 1.75rem;
  margin: 1rem auto;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  background-color: #ff4d22;
}

.register__submit:hover {
  -webkit-transform: translateY(-0.75rem);
          transform: translateY(-0.75rem);
  -webkit-box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.45);
          box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.45);
}

.register__submit:active {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.45);
          box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.45);
}

.register__submit:disabled {
  pointer-events: none;
  opacity: 0.5;
  background-color: #222;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 56.25em) {
  :root {
    font-size: 12px;
  }
}

@media (max-width: 47.5em) {
  :root {
    font-size: 10px;
  }
}

@media (min-width: 131.25em) {
  :root {
    font-size: 18px;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Atami, sans-serif, serif;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #757575;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ebf7fd;
}

svg {
  position: absolute;
  left: 34.96%;
  right: -31.71%;
  top: 0%;
  bottom: 0.15%;
  width: 1250px;
  height: 2903px;
  z-index: -1;
  display: none;
}

body {
  background-color: #151515;
  color: #fefefe;
  overflow-x: hidden;
}

body::after {
  content: "";
  position: absolute;
  left: 34.96%;
  right: -31.71%;
  top: 0%;
  bottom: 0.15%;
  background: url("../assets/background.svg");
  width: 1250px;
  height: 2903px;
  z-index: -1;
  display: none;
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

input,
textarea {
  border: none;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

@font-face {
  font-family: Atami;
  src: url("../fonts/Atami-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Atami;
  font-weight: bold;
  src: url("../fonts/Atami-Bold.otf") format("opentype");
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5rem 0 0;
}

@media (max-width: 840px) {
  .swiper-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}

.swiper-slide__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5rem 0 0;
}

@media (max-width: 840px) {
  .swiper-slide__right {
    padding: 0;
  }
}

.swiper-slide__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 840px) {
  .swiper-slide__left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.swiper-slide__left img {
  max-height: 49vh;
}

.swiper-slide__name {
  font-size: 4rem;
  margin-bottom: 1rem;
  width: 100%;
  text-align: right;
}

@media (max-width: 1296px) {
  .swiper-slide__name {
    font-size: 3rem;
  }
}

@media (max-width: 840px) {
  .swiper-slide__name {
    text-align: center;
    padding: 1rem 2rem;
    font-size: 4rem;
  }
}

.swiper-slide__desc {
  font-size: 2rem;
  text-align: right;
}

@media (max-width: 1296px) {
  .swiper-slide__desc {
    font-size: 1.5rem;
  }
}

@media (max-width: 840px) {
  .swiper-slide__desc {
    text-align: center;
    padding: 1rem 2rem;
    font-size: 3rem;
  }
}

@media (max-width: 680px) {
  .swiper-slide__desc {
    display: none;
  }
}

.swiper-slide--1 {
  background: linear-gradient(98deg, #ee5b23 0%, #ee1f50 100%);
}

.swiper-slide--2 {
  background: linear-gradient(82deg, #c62f88 0%, #9b30b6 100%);
}

.swiper-wrapper {
  position: relative;
}

.swiper-container {
  margin-top: 4rem;
  height: 48vh;
}

@media (max-width: 840px) {
  .swiper-container {
    height: 85vh;
  }
}

@media (max-width: 680px) {
  .swiper-container {
    height: 65vh;
  }
}

.swiper-button-next {
  margin: 2rem;
}

@media (max-width: 840px) {
  .swiper-button-next {
    display: none;
  }
}

.swiper-button-next::after {
  color: #fefefe;
  -webkit-transform: scale(1.75);
          transform: scale(1.75);
  text-shadow: 0.05rem 0.05rem 0.2rem #21212144;
}

@media (max-width: 840px) {
  .swiper-button-next::after {
    display: none;
  }
}

@media (max-width: 840px) {
  .swiper-button-next::before {
    display: none;
  }
}

.swiper-button-prev {
  margin: 2rem;
}

@media (max-width: 840px) {
  .swiper-button-prev {
    display: none;
  }
}

.swiper-button-prev::after {
  color: #fefefe;
  -webkit-transform: scale(1.75);
          transform: scale(1.75);
  text-shadow: 0.05rem 0.05rem 0.2rem #21212144;
}

@media (max-width: 840px) {
  .swiper-button-prev::after {
    display: none;
  }
}

@media (max-width: 840px) {
  .swiper-button-prev::before {
    display: none;
  }
}

.swiper-pagination {
  display: none;
}

@media (max-width: 840px) {
  .swiper-pagination {
    display: block;
  }
}

.swiper-pagination-bullet-active {
  background-color: #fefefe !important;
}
/*# sourceMappingURL=style.css.map */