@import "_config";
@import "_app";
@import "_card";
@import "_register";

@import "./config";
@import "./respond";

@font-face {
  font-family: Atami;
  src: url("../fonts/Atami-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Atami;
  font-weight: bold;
  src: url("../fonts/Atami-Bold.otf") format("opentype");
}

.swiper-slide {
  //   height: 100%;
  display: flex;
  padding: 0 5rem 0 0;

  @include respond(large-phone2) {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem 0 0;
    flex: 1;

    @include respond(large-phone2) {
      padding: 0;
    }
  }

  &__left {
    // background-color: red;
    display: flex;
    justify-content: flex-start;

    @include respond(large-phone2) {
      order: 1;
    }

    .tik {
      display: block;
      height: 27vh;
      transform: translateY(21vh);

      @include respond(tab-por3) {
        height: 20vh;
        transform: translateY(28vh);
      }

      @include respond(large-phone2) {
        transform: translateY(0);
        height: 27vh;
      }

      @include respond(phone) {
        transform: translateY(5vh);
        height: 27vh;
      }

      @include respond(small-phone2) {
        transform: translateY(8vh);
        height: 27vh;
      }
    }

    .soon {
      display: block;
      height: 45vh;
      transform: translateY(5vh);

      @include respond(tab-por3) {
        height: 34vh;
        transform: translateY(15vh);
      }

      @include respond(large-phone2) {
        transform: translateY(0);
        height: 27vh;
      }

      @include respond(small-phone2) {
        transform: translateY(5vh);
      }
    }

    img {
      // background-color: red;
      max-height: 49vh;

      @include respond(large-phone2) {
        width: 100%;
        // background-color: red;
      }

      @include respond(medium-phon2) {
        // transform: scale(0.75);
      }
    }
  }

  &__name {
    font-size: 4rem;
    margin-bottom: 1rem;
    width: 100%;
    text-align: right;

    @include respond(tab-land2) {
      font-size: 3rem;
    }

    @include respond(large-phone2) {
      text-align: center;
      padding: 1rem 2rem;

      font-size: 4rem;
    }

    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include respond(large-phone2) {
      justify-content: center;
    }

    img {
      width: 4rem;
      height: 4rem;
      margin-right: 1.5rem;
      transform: translateY(0.15rem);
    }
  }

  &__desc {
    font-size: 2rem;
    text-align: right;

    @include respond(tab-land2) {
      font-size: 1.5rem;
    }

    @include respond(large-phone2) {
      text-align: center;
      padding: 1rem 2rem;
      font-size: 3rem;
    }

    @include respond(medium-phon2) {
      display: none;
    }
  }

  &--1 {
    @include gradient(1);
  }

  &--2 {
    @include gradient(2);
  }

  &--3 {
    @include gradient(3);
  }

  &--4 {
    @include gradient(4);
  }

  &--5 {
    @include gradient(5);
  }

  &--6 {
    @include gradient(6);
  }

  &--b {
    color: $body-bg;
  }
}

.swiper-wrapper {
  position: relative;
}

.swiper-container {
  margin-top: 4rem;
  height: 48vh;
  // height: max-content;

  @include respond(large-phone2) {
    height: 85vh;
  }

  @include respond(medium-phon2) {
    height: 65vh;
  }
}

.swiper-button {
  &-next {
    margin: 2rem;

    @include respond(large-phone2) {
      display: none;
    }
    &::after {
      color: #fefefe;
      transform: scale(1.75);
      text-shadow: 0.05rem 0.05rem 0.2rem #21212144;

      @include respond(large-phone2) {
        display: none;
      }
    }

    &::before {
      @include respond(large-phone2) {
        display: none;
      }
    }
  }

  &-prev {
    margin: 2rem;

    @include respond(large-phone2) {
      display: none;
    }
    &::after {
      color: #fefefe;
      transform: scale(1.75);
      text-shadow: 0.05rem 0.05rem 0.2rem #21212144;

      @include respond(large-phone2) {
        display: none;
      }
    }

    &::before {
      @include respond(large-phone2) {
        display: none;
      }
    }
  }
}

.swiper-pagination {
  display: none;

  @include respond(large-phone2) {
    display: block;
  }
}

.swiper-pagination-bullet-active {
  background-color: #fefefe !important;
}

.app {
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.one {
  transform: translateY(1rem) !important;
}
.two {
  transform: translateY(1rem) !important;
}

.three {
  transform: translateY(1rem) !important;
}

.four {
  transform: translateY(0.5rem) !important;
}

.five {
  transform: translateY(0.5rem) !important;
}

.six {
  transform: scale(1.5) translateY(0.5rem) !important;
}

.down {
  transform: translateY(18rem) !important;
}
